{% extends "base.html" %}
{%block body%}
<hr>
<h1>Task in "List1"</h1>

<table class="table">
    <a href="{%url 'new_task' %}" class="btn btn-primary">Add</a>
    <tr>
        <th>Task</th>
        <th>Created</th>
        <th>Due on</th>
        <th>Owner</th>
        <th>Mark</th>
    </tr>

    {% for task in todo_list %}
        <tr>
            <td><a>{{ task.task_title }}</a></td>
            <td>{{task.task_created}}</td>
            <td>{{task.task_due_on}}</td>
            <td>{{task.task_owner}}</td>
            <td><button class="btn btn-info" >
                {% if task.task_done %}
                Done
                {% else %}
                UnDone
            {% endif %}</button></td>
        </tr>
    {% endfor %}
</table>
<hr>
    <p>
        <a href="{%url 'completed_todos'%}" class="btn btn-warning">View Completed Tasks</a>
        <a href="{%url 'delete' id=5 %}" class="btn btn-danger">Delete task</a>
    </p>
{%endblock%}